html {
  font-family: Helvetica;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  margin-top: 30px;
  width: 400px;
  height: 60px;
  font-size: 40px;
  border: 0px; 
}

input:focus {
  outline: none;
}

li {
  margin-left: -38px;
  font-size: 40px;
  list-style: none;
  font-family: Helvetica;
}

li:hover {
  text-decoration: line-through;
  transition: all .1s linear;
  color: #e5e5e5;
}
